/* Sidebar.css */

.sidebar {
    background-color: #f8f9fa;
    max-height: 80vh;
    /* padding: 20px; */
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.sidebar .brand-logo {
    background-color: #f8f9fa;
}

.sidebar.show {
    transform: translateX(0);
    display: block;
}

.sidebar.hide {
    /* transform: translateX(0); */
    display: none;
}

.toggle-btn {
    margin-top: 10px;
    width: 100%;
}

.sidebar-nav a {
    text-decoration: none;
    /* color: rgb(0, 0, 10);  */
}

.sidebar-nav a:hover {
    text-decoration: none;
    /* Optional: Remove underline on hover */
    /* background-color: blue; */
    opacity: 0.7;
    margin: 0.1rem;
    padding: 0.5rem;
    border-radius: 1rem;

}